{% extends 'base.html' %}

{% block content %}
    {% if current_user.is_anonymous %}
    <h1>Hi stranger</h1>
    {% else %}
    <h1>Hi {{ current_user.username }}</h1>
    {% endif %}
    <h3>Add a user to follow</h3>
    <form action="" method="post">
        {{ follow_form.hidden_tag() }}
        <p>
            {{ follow_form.username.label }}
            {{ follow_form.username(size=32) }}
            {% for error in follow_form.username.errors %}
            <p>[{{ error }}]</p>
            {% endfor %}
        </p>
        <p>{{ follow_form.follow_submit() }}</p>
    </form>
    <h3>Unfollow a user</h3>
    <form action="" method="post">
        {{ unfollow_form.hidden_tag() }}
        <p>
            {{ unfollow_form.username.label }}
            {{ unfollow_form.username(size=32) }}
            {% for error in unfollow_form.username.errors %}
            <p>[{{ error }}]</p>
            {% endfor %}
        </p>
        <p>{{ unfollow_form.unfollow_submit() }}</p>
    </form>
{% endblock %}