{% extends 'base.html' %}

{% block content %}
    {% if current_user.is_anonymous %}
    <h1>Hi stranger</h1>
    {% else %}
    <h1>Hi {{ current_user.username }}</h1>
    {% endif %}
    <h3>Add a user to follow</h3>
    <form action="{{ url_for('main.follow') }}" method="post">
        {{ follow_form.hidden_tag() }}
        <p>
            {{ follow_form.username_follow.label }}
            {{ follow_form.username_follow(size=32) }}
            {% for error in follow_form.username_follow.errors %}
            <p>[{{ error }}]</p>
            {% endfor %}
        </p>
        <p>{{ follow_form.follow_submit() }}</p>
    </form>
    <h3>Unfollow a user</h3>
    <form action="{{ url_for('main.unfollow') }}" method="post">
        {{ unfollow_form.hidden_tag() }}
        <p>
            {{ unfollow_form.username_unfollow.label }}
            {{ unfollow_form.username_unfollow(size=32) }}
            {% for error in unfollow_form.username_unfollow.errors %}
            <p>[{{ error }}]</p>
            {% endfor %}
        </p>
        <p>{{ unfollow_form.unfollow_submit() }}</p>
    </form>
    <h3>Clear your follow list</h3>
    <form action="{{ url_for('main.clear_follow_list') }}" method="post">
        {{ clear_form.hidden_tag() }}
        <p> {{ clear_form.submit(value='Clear') }} </p>
    </form>
{% endblock %}